@import '../index.scss';
.lookui-popover {
  &.el-popover {
    &--plain {
      padding: 14px;
    }
  }
  .el-popover__title {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 14px;
    color: $--themeColor;
  }

  .el-button--text {
    color: $--themeColor;
  }

  .el-button--primary {
    color: #FFF;
    background-color: $--themeColor;
    border-color: $--themeColor;
  }
}