@import '../index.scss';
// 文档全局样式
.block {
  margin-top: 14px;
}
details {
  margin-top: 14px;
}
summary {
  cursor: pointer;
  color: $--themeColor;
}
.lookui-alert {
  margin-bottom: 14px;
}
table {
  margin: 0 !important;
}