@import '../index.scss';
.lookui-page-header-auxiliary-text {
  display: flex;
  padding: 16px;
  &.white-bg {
    background-color: #fff;
  }
  &.theme-bg {
    background-color: $--themeColor;
    color: #fff;
  }
  .right {
    padding-left: 16px;
    border-left: 1px solid #d9d9d9;
    margin-left: 16px;
    .title {
      font-size: 18px;
    }
    .sub-title {
      font-size: 14px;
      margin-top: 8px;
    }
  }
}

.lookui-page-header {
  background-color: $--themeColor;
  padding: 14px;
  &.white-bg {
    background-color: #fff;
  }
  &.theme-bg {
    background-color: $--themeColor;
    color: #fff;
    .el-page-header__content {
      color: #fff;
    }
  }
}
