@import '../index.scss';
.lookui-cascader {
  .el-input .el-input__inner:focus,
  .el-input.is-focus .el-input__inner {
    border-color: $--themeColor;
  }
}

.lookui-cascader-popper {
  .el-cascader-node:not(.is-disabled):focus,
  .el-cascader-node:not(.is-disabled):hover {
    background: $--themeColor-100;
  }
  .el-cascader-node.in-active-path,
  .el-cascader-node.is-active,
  .el-cascader-node.is-selectable.in-checked-path {
    color: $--themeColor;
    font-weight: 400;
  }
  .el-checkbox__input.is-checked .el-checkbox__inner,
  .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: $--themeColor;
    border-color: $--themeColor;
  }
}
