$--themeColor: #506eda;
$--themeColor-100: #e4e8fb;
$--themeColor-400: #acb7f1;
$--themeColor-700: #8493e9;

$--green-100: #def9f1;
$--green-400: #8ee1c7;
$--green-700: #6fcfaa;
$--green-900: #55bf96;

$--blue-100: #e4f5ff;
$--blue-400: #bfe8ff;
$--blue-700: #75ceff;
$--blue-900: #43bcff;

$--yellow-100: #fff7e5;
$--yellow-400: #fbdda2;
$--yellow-700: #f5d087;
$--yellow-900: #ffc800;

$--orange-100: #ffeee5;
$--orange-400: #fbc2a2;
$--orange-700: #f8a779;
$--orange-900: #f68d52;

$--red-100: #fbeced;
$--red-400: #fbbbbb;
$--red-700: #fe8989;
$--red-900: #ff4d4f;

$--grey-100: #f5f5f5;
$--grey-400: #d9d9d9;
$--grey-700: #bfbfbf;
$--grey-900: #666666;

$--main-font-color: #000000;
$--normal-font-color: #666666;
$--secondary-font-color: #bfbfbf;

$--solid-border-color: #d9d9d9;
$--dashed-border-color: #bfbfbf;

