@import '../index.scss';
.lookui-tabs {
  .el-tabs__item {
    font-size: 16px;
    height: 46px;
    line-height: 46px;
  }
  .el-tabs__item.is-active {
    color: $--themeColor;
    font-weight: bold;
  }
  .el-tabs__active-bar {
    background-color: $--themeColor;
  }
  .el-tabs__item:hover {
    color: $--themeColor;
  }
  &.el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
    color: $--themeColor;
  }
  &.el-tabs--border-card>.el-tabs__header .el-tabs__item:not(.is-disabled):hover {
    color: $--themeColor;
  }
}
