@import '../index.scss';
.lookui-time-popper {
  .time-select-item {
    &:hover {
      background-color: $--themeColor-100;
      font-weight: normal;
    }
    &.selected:not(.disabled) {
      color: #333;
      font-weight: normal;
    }
  }
  /*修改选中日期的背景色*/
  .el-date-table td.current:not(.disabled) span {
    background-color: #4364bf;
  }
  /*修改今天日期颜色*/
  .el-date-table td.today span {
    color: #4364bf;
  }
  .el-date-table td span {
    border-radius: 2px;
  }
  input[type="text"] {
    color: #000;
  }
  .el-button--text {
    color: #4364bf;
  }
  .el-button {
    color: #4364bf;
    border-color: #4364bf;
    &.is-plain {
      &:focus,&:hover {
        color: #4364bf;
        border-color: #4364bf;
      }
    }
  }
  .el-date-table td.available:hover {
    color: #4364bf;
  }
  .el-input.is-active .el-input__inner, .el-input__inner:focus {
    border-color: #4364bf;
  }
  .el-time-panel__btn.confirm {
    color: $--themeColor;
  }
  button:hover {
    background: none;
  }
  .el-time-spinner__item:hover:not(.disabled):not(.active) {
    background-color: $--themeColor-100;
  }
  .el-button--text {
    border-color: transparent;
  }
}
