@import '../index.scss';
.lookui-card {
  .el-card__header {
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      > span {
        color: $--themeColor;
      }
    }
  }
  .info {
    padding: 8px 16px;
    .name {
      color: $--themeColor;
      font-size: 14px;
    }
    .description {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .txt {
        color: #666666;
        font-size: 12px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-right: 10px;
      }
    }
  }
}