@import '../index.scss';
.lookui-steps {
  .el-step__head.is-process {
    border-color: $--themeColor;
    .el-step__icon {
      &.is-text {
        background-color: $--themeColor;
        color: #fff;
        .el-step__icon-inner {
          font-weight: normal;
        }
      }
      &.is-icon {
        background-color: rgba(255, 255, 255, 0);
        color: $--themeColor;
        .el-step__icon-inner {
          font-weight: normal;
        }
      }
    }
  }
  .el-step__head.is-success {
    color: $--themeColor;
    border-color: $--themeColor;
    .el-step__line {
      background-color: $--themeColor;
    }
  }
  .el-step__head.is-finish {
    color: $--themeColor;
    border-color: $--themeColor;
    .el-step__line {
      background-color: $--themeColor;
    }
  }

  .el-step__main {
    .el-step__title.is-process {
      font-weight: 400;
      color: #000;
    }
    .el-step__title.is-success {
      color: #666;
    }
    .el-step__description,
    .el-step__title {
      &.is-finish {
        color: #666;
      }
    }
  }
}
