@import '../index.scss';
.lookui-alert {
  &.el-alert--success {
    &.is-light {
      background-color: $--green-100;
      color: #000;
      border: 1px solid $--green-400
    }
    &.is-dark {
      background-color: $--green-900;
    }
  }
  &.el-alert--info {
    &.is-light {
      background-color: $--themeColor-100;
      color: #000;
      border: 1px solid $--themeColor-400;
    }
    &.is-dark {
      background-color: $--themeColor;
    }
  }
  &.el-alert--warning {
    &.is-light {
      background-color: $--yellow-100;
      color: #000;
      border: 1px solid $--yellow-400;
    }
    &.is-dark {
      background-color: $--orange-900;
    }
  }
  &.el-alert--error {
    &.is-light {
      background-color: $--red-100;
      color: #000;
      border: 1px solid $--red-400;
    }
    &.is-dark {
      background-color: $--red-900;
    }
  }
  .el-icon {
    &-success {
      color: $--green-900;
    }
    &-info {
      color: $--themeColor;
    }
    &-warning {
      color: $--orange-900;
    }
    &-error {
      color: $--red-900;
    }
  }
  .el-alert__content {
    .el-alert__title.is-bold {
      font-weight: normal;
      font-size: 14px;
    }
    .el-alert__description {
      color: #000;
    }
  }
}
